<div class="content content-fixed content-auth">
  <div class="container">
    <div class="media align-items-stretch justify-content-center ht-100p">
      <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
        <div class="pd-t-20 wd-100p">
          <h4 class="tx-color-01 mg-b-5">Create New Account</h4>
          <p class="tx-color-03 tx-16 mg-b-40">
            It's free to signup and only takes a minute.
          </p>
          <div class="form-group">
            <label>Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email address"
              ng-model="registar.mail">
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between mg-b-5">
              <label class="mg-b-0-f">Password</label>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Enter your password"
              ng-model="registar.pass"/>
          </div>
          <div class="form-group">
            <label>Salutation</label>
            <div class="switch-field">
              <input type="radio" id="radio-one" name="switch-two" value="Mx" ng-checked="true" ng-model="registar.salute"/>
              <label for="radio-one">Mx</label>
              <input type="radio" id="radio-two" name="switch-two" value="Ms" ng-model="registar.salute"/>
              <label for="radio-two">Ms</label>
              <input type="radio" id="radio-three" name="switch-two" value="Mr" ng-model="registar.salute"/>
              <label for="radio-three">Mr</label>
              <input type="radio" id="radio-four" name="switch-two" value="Dr" ng-model="registar.salute"/>
              <label for="radio-four">Dr</label>
              <input type="radio" id="radio-five" name="switch-two" value="Mrs" ng-model="registar.salute"/>
              <label for="radio-five">Mrs</label>
            </div>
          </div>
          <div class="form-group">
            <label>Firstname</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your first name"
              ng-model="registar.fname"/>
          </div>
          <div class="form-group">
            <label>Lastname</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your last name"
              ng-model="registar.lname"/>
          </div>
          <div class="form-group tx-12">
            By clicking <strong>Create an account</strong> below, you agree to
            our terms of service and privacy statement.
          </div>
          <button class="btn btn-brand-02 btn-block" ng-click="registerUser(registar)">Create Account</button>
          <div class="divider-text">or</div>
          <button class="btn btn-outline-facebook btn-block">
            Sign Up With Facebook
          </button>
          <div class="tx-13 mg-t-20 tx-center">
            Already have an account? <a href="/login">Sign In</a>
          </div>
        </div>
      </div>
      <div
        class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
        <div class="mx-lg-wd-500 mx-xl-wd-550">
          <img
            src="https://via.placeholder.com/1280x1225"
            class="img-fluid"
            alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    feather.replace()
</script>
